<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="JavaScriptEngineSwitcher.ChakraCore" version="2.4.8" targetFramework="net461" />
  <package id="JavaScriptEngineSwitcher.Core" version="2.4.9" targetFramework="net461" />
  <package id="JavaScriptEngineSwitcher.Msie" version="2.4.9" targetFramework="net461" />
  <package id="JavaScriptEngineSwitcher.V8" version="2.4.2" targetFramework="net461" />
  <package id="JSPool" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc.ru" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor.ru" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages.ru" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="MsieJavaScriptEngine" version="2.2.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="React.Core" version="3.3.0" targetFramework="net461" />
  <package id="react.js" version="0.14.7" targetFramework="net461" />
  <package id="React.Web" version="3.3.0" targetFramework="net461" />
  <package id="React.Web.Mvc4" version="3.3.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net461" />
  <package id="VroomJs" version="1.2.3" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net461" />
</packages>